In [1]:
import pandas as pd
import datetime

In [2]:
def load_data():
    data_path = "Retail_Sales_Data/Official_Merged_SF.csv"
    return pd.read_csv(data_path)

df = load_data()
df.head()

,sale_date,store,temperature,fuel_price,markdown1,markdown2,markdown3,markdown4,markdown5,unemployment,isholiday,dept,weekly_sales
0,2012-09-28,16,51.40,3.789,2130.57,3.82,NaN,583.90,1409.43,6.061,False,27,836.65
1,2012-10-19,16,40.59,3.750,1278.03,NaN,1.16,16.38,1395.48,5.847,False,27,852.81
2,2012-10-26,16,40.99,3.686,2285.52,20.48,NaN,201.97,1237.41,5.847,False,27,815.95
3,2010-02-19,16,21.13,2.550,NaN,NaN,NaN,NaN,NaN,7.039,False,28,266.00
4,2010-02-26,16,18.12,2.586,NaN,NaN,NaN,NaN,NaN,7.039,False,28,255.50

In [3]:
def whats_the_total():
    df_compact = df[["sale_date", "store", "dept", "weekly_sales"]]
    df_compact.sale_date = pd.to_datetime(df_compact.sale_date)
    return df_compact.groupby('store')['weekly_sales'].sum()

In [4]:
totals = whats_the_total()
df_totals = pd.DataFrame(totals)
df_totals_largest = df_totals.sort_values(by=['weekly_sales'], ascending=False)
df_totals_largest.head()

       weekly_sales
store
4      4.026201e+08
20     3.976952e+08
13     3.842439e+08
14     3.821287e+08
2      3.660356e+08

In [5]:
most_profitable_stores = [4, 20, 13, 14, 2]

In [6]:
df_totals_smallest = df_totals.sort_values(by=['weekly_sales'], ascending=True)
df_totals_smallest.head()

       weekly_sales
store
33      49001669.18
44      58174511.00
5       60471643.08
36      70497187.66
38      72455156.44

In [7]:
least_profitable_stores = [33, 44, 5, 36, 38]

In [8]:
def compactor():
    df_compact = df[["sale_date", "store", "dept", "weekly_sales"]]
    df_compact['year'] = pd.DatetimeIndex(df_compact['sale_date']).year
    df_compact.sale_date = pd.to_datetime(df_compact.sale_date)
    return df_compact.groupby(['year', 'store'])['weekly_sales'].sum()

In [9]:
df_ordered = compactor()

In [10]:
df_ordered.head()

year  store
2010  1        9.030804e+07
      2        1.185761e+08
      3        2.314862e+07
      4        1.206023e+08
      5        1.841192e+07
Name: weekly_sales, dtype: float64

     index  year  store  weekly_sales
0        0  2010      1  9.030804e+07
1        1  2010      2  1.185761e+08
2        2  2010      3  2.314862e+07
3        3  2010      4  1.206023e+08
4        4  2010      5  1.841192e+07
..     ...   ...    ...           ...
130    130  2012     41  8.038641e+07
131    131  2012     42  3.495281e+07
132    132  2012     43  3.853476e+07
133    133  2012     44  2.036500e+07
134    134  2012     45  4.671809e+07

[135 rows x 4 columns]

In [11]:
def yearly_sales_by_store(data):
    yearly_data = data.copy()
    df_ordered_updated = pd.DataFrame(yearly_data)

    df_indexed = df_ordered_updated
    df_indexed.reset_index(inplace=True)
    df_indexed = df_indexed.rename(columns={"weekly_sales": "total_sales"})
    return df_indexed

In [12]:
yearly_df = yearly_sales_by_store(df_ordered)
yearly_df.head(25)

    year  store   total_sales
0   2010      1  9.030804e+07
1   2010      2  1.185761e+08
2   2010      3  2.314862e+07
3   2010      4  1.206023e+08
4   2010      5  1.841192e+07
5   2010      6  9.581719e+07
6   2010      7  3.241743e+07
7   2010      8  5.359962e+07
8   2010      9  3.123944e+07
9   2010     10  1.192924e+08
10  2010     11  8.123687e+07
11  2010     12  6.061693e+07
12  2010     13  1.195831e+08
13  2010     14  1.305513e+08
14  2010     15  4.039422e+07
15  2010     16  3.139272e+07
16  2010     17  5.117242e+07
17  2010     18  6.974483e+07
18  2010     19  9.009060e+07
19  2010     20  1.256658e+08
20  2010     21  4.822209e+07
21  2010     22  6.363898e+07
22  2010     23  8.535402e+07
23  2010     24  8.236928e+07
24  2010     25  4.444361e+07

In [13]:
least_profitable_df = yearly_df[yearly_df.store.isin(least_profitable_stores)]
least_profitable_df = least_profitable_df.sort_values(by=['year'], ascending=True)
least_profitable_df = least_profitable_df.reset_index(drop=True)
least_profitable_df

    year  store  total_sales
0   2010      5  18411921.94
1   2010     33  15555118.10
2   2010     36  26153488.44
3   2010     38  20208343.30
4   2010     44  16958495.82
5   2011      5  21976526.66
6   2011     33  17319178.54
7   2011     36  25267401.82
8   2011     38  26094246.48
9   2011     44  20851019.18
10  2012      5  20083194.48
11  2012     33  16127372.54
12  2012     36  19076297.40
13  2012     38  26152566.66
14  2012     44  20364996.00

In [14]:
most_profitable_df = yearly_df[yearly_df.store.isin(most_profitable_stores)]
most_profitable_df = most_profitable_df.sort_values(by=['year'], ascending=True)
most_profitable_df = most_profitable_df.reset_index(drop=True)
most_profitable_df

    year  store   total_sales
0   2010      2  1.185761e+08
1   2010      4  1.206023e+08
2   2010     13  1.195831e+08
3   2010     14  1.305513e+08
4   2010     20  1.256658e+08
5   2011      2  1.318138e+08
6   2011      4  1.498306e+08
7   2011     13  1.413729e+08
8   2011     14  1.425144e+08
9   2011     20  1.460095e+08
10  2012      2  1.156457e+08
11  2012      4  1.321873e+08
12  2012     13  1.232879e+08
13  2012     14  1.090630e+08
14  2012     20  1.260199e+08